.delete-todo {
	width: 20px;
	height: 20px;
	min-width: 20px;
	position: relative;

	background: rgba(255, 99, 71, 0.5);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 5;
}
.delete-todo:hover {
	background: tomato;
}
