.app {
	background: #1e1e1e;
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.app__heading {
	color: white;
}

.app-wrapper {
	background: white;
	width: 30%;
}
